$colors: (
  //basic
  'white': #ffffff,
  'black': #2b2b2b,

  // Gray
  gray-50: #f2f2f2,
  gray-100: #e8e8e8,
  gray-200: #d1d1d1,
  gray-300: #bababa,
  gray-400: #a3a3a3,
  gray-500: #8c8c8c,

  // black
  black-50: #f2f2f2,
  black-100: #e8e8e8,
  black-200: #d1d1d1,
  black-300: #bababa,
  black-400: #a3a3a3,
  black-500: #8c8c8c,
  black-600: #757575,
  black-700: #5e5e5e,
  black-800: #474747,
  black-900: #303030,

  // mint
  mint-50: #ecf2f0,
  mint-100: #c7ddd5,
  mint-200: #acd8cd,
  mint-300: #84d8c3,
  mint-400: #57d4b5,
  mint-500: #1ccca3,
  mint-600: #16af8b,
  mint-700: #108c6f,
  mint-800: #1d7e5b,
  mint-900: #215643,

  //green
  green-50: #eef9eb,
  green-100: #dff6db,
  green-200: #bfecb6,
  green-300: #9fe392,
  green-400: #80d96e,
  green-500: #5fd048,
  green-600: #48ba2f,
  green-700: #3a9627,
  green-800: #2b711e,
  green-900: #1d4d13,

  //prussian
  prussian-50: #e9effc,
  prussian-100: #d6e2fa,
  prussian-200: #adc7f5,
  prussian-300: #84aaf0,
  prussian-400: #5c8deb,
  prussian-500: #3271e6,
  prussian-600: #195ad0,
  prussian-700: #1548a8,
  prussian-800: #10377f,
  prussian-900: #0b2656,

  //purpleblue
  purpleblue-50: #ede8fd,
  purpleblue-100: #ddd6fb,
  purpleblue-200: #c5b4ff,
  purpleblue-300: #a288ff,
  purpleblue-400: #7e5cf5,
  purpleblue-500: #4a21e2,
  purpleblue-600: #3711c1,
  purpleblue-700: #21009e,
  purpleblue-800: #210b75,
  purpleblue-900: #1a0a58,

  //red
  red-50: #ffeaec,
  red-100: #ffd9dd,
  red-200: #ffb4bb,
  red-300: #ff808c,
  red-400: #ff4154,
  red-500: #ff003d,
  red-600: #da0017,
  red-700: #a50011,
  red-800: #82030f,
  red-900: #5c000a,

  //pink
  pink-50: #ffecf1,
  pink-100: #ffd2de,
  pink-200: #ff9fb9,
  pink-300: #ff87a7,
  pink-400: #ff608b,
  pink-500: #ff003d,
  pink-600: #ef246d,
  pink-700: #d6145a,
  pink-800: #b10c47,
  pink-900: #830a36,

  //orange
  orange-50: #ffefe7,
  orange-100: #fee1d4,
  orange-200: #fdc3a9,
  orange-300: #fca67e,
  orange-400: #fb7c3b,
  orange-500: #f96b31,
  orange-600: #e55420,
  orange-700: #b94318,
  orange-800: #8b3310,
  orange-900: #5f2309,

  //yellow
  yellow-50: #ffffe6,
  yellow-100: #fffed1,
  yellow-200: #fffea3,
  yellow-300: #fffd75,
  yellow-400: #fffc47,
  yellow-500: #fffb18,
  yellow-600: #ebe201,
  yellow-700: #d6c100,
  yellow-800: #baa700,
  yellow-900: #9d8d00
);
